{{ if .Site.IsServer }}
<div id="size-indicator" class="fixed inset-x-0 top-0 mx-auto pointer-events-none">
    <button id="show-menu" onclick="changeMenuVisibility()"
        class="fixed top-0 right-0 mt-12 mr-8 w-8 h-8 rounded-full text-gray-700 text-sm uppercase bg-gray-200 sm:bg-orange-200 md:bg-green-200 lg:bg-purple-200 xl:bg-red-200 pointer-events-auto">
        <span class="block sm:hidden">all</span>
        <span class="hidden sm:block md:hidden">sm</span>
        <span class="hidden md:block lg:hidden">md</span>
        <span class="hidden lg:block xl:hidden">lg</span>
        <span class="hidden xl:block">xl</span>
    </button>

    <div id="container-area" class="fixed inset-x-0 top-0 container mx-auto h-full bg-red-200 bg-opacity-25">
        <p></p>
    </div>

    <div id="grid-area" class="container w-screen h-screen mx-auto px-8 grid grid-cols-12 gap-4">
        <div class="bg-blue-200 bg-opacity-25"></div>
    </div>

    <div id="grid-menu" class="hidden fixed top-0 right-0 mt-24 mr-8 text-gray-700 text-sm pointer-events-auto">
        <div class="flex justify-end items-center">
            <label for="show-container" class="px-2">Show Container</label>
            <input type="checkbox" id="show-container" onchange="changeContainerVisibility();">

            <label for="show-grid" class="px-2">Show Grid</label>
            <input type="checkbox" id="show-grid" onchange="changeGridVisibility();">
        </div>

        <div class="flex justify-end items-center">
            <label for="select-padding" class="px-2">Container padding</label>
            <select id="select-padding" onchange="changeContainerPadding(this.value);"
                class="appearance-none border border-gray-300 rounded-2 px-2 text-gray-700 bg-white hover:border-gray-400 focus:outline-none"></select>

            <label for="select-cols" class="px-2">Grid Columns</label>
            <select id="select-cols" onchange="changeGridCols(this.value);"
                class="appearance-none border border-gray-300 rounded-2 px-2 text-gray-700 bg-white hover:border-gray-400 focus:outline-none"></select>

            <label for="select-gap" class="px-2">Grid Gap</label>
            <select id="select-gap" onchange="changeGridGap(this.value);"
                class="appearance-none border border-gray-300 rounded-2 px-2 text-gray-700 bg-white hover:border-gray-400 focus:outline-none"></select>
        </div>

        <table class="right-0 mt-8">
            <thead class="text-xs text-gray-600 uppercase">
                <tr>
                    <td></td>
                    <td>all</td>
                    <td>sm</td>
                    <td>md</td>
                    <td>lg</td>
                    <td>xl</td>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th class="text-left text-xs text-gray-600 font-normal">Container padding</th>
                    <td>
                        <select id="select-pad-all" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                    <td>
                        <select id="select-pad-sm" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                    <td>
                        <select id="select-pad-md" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                    <td>
                        <select id="select-pad-lg" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                    <td>
                        <select id="select-pad-xl" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                </tr>
                <tr>
                    <th class="text-left text-xs text-gray-600 font-normal">Grid columns</th>
                    <td>
                        <select id="select-cols-all" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                    <td>
                        <select id="select-cols-sm" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                    <td>
                        <select id="select-cols-md" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                    <td>
                        <select id="select-cols-lg" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                    <td>
                        <select id="select-cols-xl" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                </tr>
                <tr>
                    <th class="text-left text-xs text-gray-600 font-normal">Grid gap</th>
                    <td>
                        <select id="select-gap-all" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                    <td>
                        <select id="select-gap-sm" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                    <td>
                        <select id="select-gap-md" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none"></select>
                    </td>
                    <td>
                        <select id="select-gap-lg" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none">
                        </select>
                    </td>
                    <td>
                        <select id="select-gap-xl" onchange="changeGridGap(this.value);"
                            class="appearance-none focus:outline-none">
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<script>
    const padOptions = ["0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "16", "20", "24", "32", "40", "48", "56", "64"];
    const colOptions = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"];
    const gapOptions = ["0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "16"];
    const sizeOptions = ["all", "sm", "md", "lg", "xl"];

    /* helper function to remove a class attribute from an element */
    function removeClassWith(e, part) {
        var regx = new RegExp('(^|\\s)\\S*' + part + '\\S*', 'g');
        e.className = e.className.replace(regx, '');
    }

    /*  select the specified options tag within a select element */
    function selectOption(id, textToSelect) {
        var s = document.querySelector(id);
        var opts = s.options;
        for (var i = 0; i < opts.length; i++) {
            if (opts[i].text == textToSelect) {
                s.selectedIndex = i;
                break;
            }
        }
    }

    /* setup the option elements of a specified select element*/
    function setupSelectOptions(id, options) {
        var s = document.querySelector(id);
        options.forEach(function (element, key) {
            s.options.add(new Option(element));
        })
    }

    /* setup the select options within the select table*/
    function setupSelectTable() {
        var selectPairs = [
            {
                name: "#select-pad-",
                options: padOptions
            },
            {
                name: "#select-cols-",
                options: colOptions
            },
            {
                name: "#select-gap-",
                options: gapOptions
            },
        ]

        selectPairs.forEach(function (s) {
            sizeOptions.forEach(function (size) {
                setupSelectOptions(s.name + size, s.options);
            })
        })
    }

    /* set a checkbox label to the specified state */
    function setCheckbox(id, value) {
        let e = document.querySelector(id);
        e.checked = value;
    }

    function changeMenuVisibility() {
        var e = document.querySelector("#grid-menu");
        e.classList.toggle("hidden");
    }

    function setContainerVisibility(data) {
        var showContainer = data;
        var e = document.querySelector("#container-area");
        if (e.classList.contains("hidden") == showContainer) {
            e.classList.toggle("hidden");
        }
        setCheckbox("#show-container", showContainer);

        localStorage.setItem("showContainer", showContainer);
    }

    function changeContainerVisibility() {
        var e = document.querySelector("#container-area");
        var showContainer = e.classList.contains("hidden") ? true : false;
        setContainerVisibility(showContainer);
    }

    function setGridVisibility(data) {
        var showGrid = data;
        var e = document.querySelector("#grid-area");
        if (e.classList.contains("hidden") == showGrid) {
            e.classList.toggle("hidden");
        }
        setCheckbox("#show-grid", showGrid);

        localStorage.setItem("showGrid", showGrid);
    }

    function changeGridVisibility() {
        var e = document.querySelector("#grid-area");
        var showGrid = e.classList.contains("hidden") ? true : false;
        setGridVisibility(showGrid);
    }

    function changeContainerPadding(data) {
        var containerPadding = data;
        var e = document.querySelector("#grid-area");
        removeClassWith(e, 'px-');
        e.classList.add('px-' + containerPadding);

        localStorage.setItem("containerPadding", containerPadding);
    }

    function changeGridCols(data) {
        var gridCols = data;
        var e = document.querySelector("#grid-area");
        removeClassWith(e, 'grid-cols-');
        e.classList.add('grid-cols-' + gridCols);
        e.textContent = '';

        for (i = 0; i < gridCols; i++) {
            var col = document.createElement('div');
            col.classList.add("bg-blue-200", "bg-opacity-25");
            e.appendChild(col);
        }

        localStorage.setItem("gridCols", gridCols);
    }

    function changeGridGap(data) {
        var gridGap = data;
        var e = document.querySelector("#grid-area");
        removeClassWith(e, 'gap-');
        e.classList.add('gap-' + gridGap);

        /* force redraw */
        e.classList.toggle('hidden');
        e.offsetHeight;
        e.classList.toggle('hidden');

        localStorage.setItem("gridGap", gridGap);
    }

    function setupSizeIndicator() {
        /* load variables from local storage */
        var showContainer = localStorage.getItem("showContainer") === "true";
        var showGrid = localStorage.getItem("showGrid") === "true";
        var containerPadding = localStorage.getItem("containerPadding");
        var gridCols = localStorage.getItem("gridCols");
        var gridGap = localStorage.getItem("gridGap");

        /* check for null variables -> set defaults */
        if (!containerPadding) { containerPadding = 8; }
        if (!gridCols) { gridCols = 12; }
        if (!gridGap) { gridGap = 4; }

        /* setup top row selects */
        setupSelectOptions("#select-padding", padOptions);
        setupSelectOptions("#select-cols", colOptions);
        setupSelectOptions("#select-gap", gapOptions);

        /* set visible select options */
        selectOption("#select-padding", containerPadding);
        selectOption("#select-cols", gridCols);
        selectOption("#select-gap", gridGap);

        setContainerVisibility(showContainer);
        setGridVisibility(showGrid);
        changeContainerPadding(containerPadding);
        changeGridCols(gridCols);
        changeGridGap(gridGap);

        setupSelectTable();
    }

    window.onload = setupSizeIndicator;
</script>
{{ end }}