<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="flex flex-col min-h-screen">
        {{- partial "header.html" . -}}
        <main class="flex-1 sm:mx-4 md:mx-12 lg:mx-24 mt-4 sm:mt-16">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}

    <script>
        //Javascript to toggle the menu
        document.getElementById('nav-toggle').onclick = function () {
            document.getElementById("nav-content").classList.toggle("hidden");
        }
    </script>

    </body>
</html>
